@{
    ViewData["Title"] = "ホーム";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="home-container">
    <section class="hero-section">
        <div class="hero-image"></div>
        <h1 class="hero-title">画像上のメッセージ</h1>
    </section>
    <section class="contents-container">
        
        <section class="news-section">
            <h2 class="section-title news-title"><span class="english">Information</span></h2>
            <div class="news-list-container">
                <ul class="news-list">
                    <!--
                    <li>
                        <span class="english"></span><br />
                        <strong></strong><br />
                        <span></span>
                    </li>
                    <li>
                        <span class="english"></span><br />
                        <strong></strong><br />
                        <span></span>
                    </li>
                    <li>
                        <span class="english"></span><br />
                        <strong></strong><br />
                        <span></span>
                    </li>
                    -->
                </ul>
            </div>
        </section>

        <section class="aboutsalon-section">
            <h2 class="section-title aboutsalon-title"><span class="english">AboutShop</span></h2>
            <div class="aboutsalon-container">
                <div class="aboutsalon-message">
                    <span>
                        お店についての説明文１です。お店についての説明文１です。<br />
                        お店についての説明文２です。お店についての説明文２です。<br />
                        お店についての説明文３です。お店についての説明文３です。<br />
                        お店についての説明文４です。お店についての説明文４です。<br />
                    </span>
                </div>
                <ul class="aboutsalon-list">
                    <li>
                        <div class="aboutsalon-image">
                            <img src="~/images/home/treatment.jpg" />
                        </div>
                        <div class="aboutsalon-subtitle">                            
                            お店の特徴１
                        </div>
                        <div class="aboutsalon-description">
                            お店の特徴１についての説明文です。お店の特徴１についての説明文です。
                            <br />お店の特徴１についての説明文です。お店の特徴１についての説明文です。
                            <br />お店の特徴１についての説明文です。お店の特徴１についての説明文です。
                        </div>
                    </li>
                    <li>
                        <div class="aboutsalon-image">
                            <img src="~/images/home/therapist.jpg" />
                        </div>
                        <div class="aboutsalon-subtitle">                            
                            お店の特徴２
                        </div>
                        <div class="aboutsalon-description">
                            お店の特徴２についての説明文です。お店の特徴２についての説明文です。
                            <br />お店の特徴２についての説明文です。お店の特徴２についての説明文です。
                            <br />お店の特徴２についての説明文です。お店の特徴２についての説明文です。
                        </div>
                    </li>
                    <li>
                        <div class="aboutsalon-image">
                            <img src="~/images/home/salon.jpg" />
                        </div>
                        <div class="aboutsalon-subtitle">                            
                            お店の特徴３
                        </div>
                        <div class="aboutsalon-description">
                            お店の特徴３についての説明文です。お店の特徴３についての説明文です。
                            <br />お店の特徴３についての説明文です。お店の特徴３についての説明文です。
                            <br />お店の特徴３についての説明文です。お店の特徴３についての説明文です。
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="reserve-section">
            <h2 class="section-title reserve-title"><span class="english">Reservation</span></h2>
            <div class="reserve-container">
                <ul class="reserve-flow">
                    <li>
                        <div class="reserve-subtitle">
                            <span class="english">０１.</span>
                            予約の手順１
                        </div>
                        <div class="reserve-description">
                            予約の手順１についての説明文です。予約の手順１についての説明文です。
                            <br />予約の手順１についての説明文です。予約の手順１についての説明文です。
                        </div>
                    </li>
                    <li>
                        <div class="reserve-subtitle">
                            <span class="english">０２.</span>
                            予約の手順２
                        </div>
                        <div class="reserve-description">
                            予約の手順２についての説明文です。予約の手順２についての説明文です。
                            <br />予約の手順２についての説明文です。予約の手順２についての説明文です。
                            <br />予約の手順２についての説明文です。予約の手順２についての説明文です。
                        </div>
                    </li>
                    <li>
                        <div class="reserve-subtitle">
                            <span class="english">０３.</span>
                            予約の手順３
                        </div>
                        <div class="reserve-description">
                            予約の手順３についての説明文です。予約の手順３についての説明文です。
                            <br />予約の手順３についての説明文です。予約の手順３についての説明文です。
                            <br />予約の手順３についての説明文です。予約の手順３についての説明文です。
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="faq-section">
            <h2 class="section-title faq-title"><span class="english">FAQ</span></h2>
            <div class="faq-container">
                <ul class="faq-list">
                    <li>                        
                        <div class="question">質問1</div>
                        <div class="answer">回答1です。回答1です。回答1です。回答1です。</div>

                        <div class="question">質問2</div>
                        <div class="answer">回答2です。回答2です。回答2です。回答2です。回答2です。回答2です。回答2です。回答2です。</div>

                        <div class="question">質問3</div>
                        <div class="answer">回答3です。回答3です。回答3です。回答3です。</div>

                        <div class="question">質問4</div>
                        <div class="answer">回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。回答4です。</div>

                        <div class="question">質問5</div>
                        <div class="answer">回答5です。回答5です。回答5です。回答5です。回答5です。</div>
                    </li>                    
                </ul>
            </div>
        </section>


        <section class="note-section" id="noteSection">
            <h2 class="section-title note-title"><span class="english">NOTE</span></h2>
            <div class="note-container">
                <ul class="note-list">
                    <li>
                        <div class="note-subtitle">
                            注意事項1
                        </div>
                        <div class="note-subcontent">
                            注意事項1の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項2
                        </div>
                        <div class="note-subcontent">
                            注意事項2の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項3
                        </div>
                        <div class="note-subcontent">
                            注意事項3の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項4
                        </div>
                        <div class="note-subcontent">
                            注意事項4の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項5
                        </div>
                        <div class="note-subcontent">
                            注意事項5の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項6
                        </div>
                        <div class="note-subcontent">
                            注意事項6の説明文です。
                        </div>

                        <div class="note-subtitle">
                            注意事項7
                        </div>
                        <div class="note-subcontent">
                            注意事項7の説明文です。
                        </div>

                    </li>                    
                </ul>
            </div>
        </section>
    </section>
</div>
<!--
<section class="campaign-section">
    <h2>キャンペーン</h2>
    <div class="campaign-content">
        <ul>
            <li>期間限定口コミ割引実施中</li>
            <li><a href="#" class="btn btn-primary">詳細を見る</a></li>
        </ul>
    </div>
</section>
-->
@section CustomScripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
