@{
    ViewData["Title"] = "Privacy Policy";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/privacy@((Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production" ? ".min" : "")).css" asp-append-version="true" />
}

<div class="privacy-container">
    <h2 class="page-title"><span class="english">@ViewData["Title"]</span></h2>

    <p>「[店舗名]」（以下「当店」）は、当店が提供するサービス（以下「本サービス」）における個人情報の取り扱いについて、以下の通りプライバシーポリシーを定めます。</p>

    <h3>1. 個人情報の定義</h3>
    <p>個人情報とは、特定の個人を識別できる情報を指します。具体的には、氏名、電話番号、メールアドレス、生年月日などが含まれます。</p>

    <h3>2. 個人情報の収集</h3>
    <p>当店は、本サービスの提供に必要な範囲で、以下の個人情報を収集します。</p>
    <ul>
        <li>氏名</li>
        <li>電話番号</li>
        <li>メールアドレス</li>
        <li>生年月日</li>
        <li>住所（出張や配達など、必要に応じて）</li>
        <li>その他、サービス提供に必要な情報（ご要望、特別な配慮事項など）</li>
    </ul>

    <h3>3. 個人情報の利用目的</h3>
    <p>収集した個人情報は、以下の目的で利用します。</p>
    <ul>
        <li>サービスの提供及び管理</li>
        <li>お問い合わせへの対応</li>
        <li>サービスに関する情報の提供</li>
        <li>個別のアドバイスやご案内の提供</li>
        <li>法令遵守及び不正行為の防止</li>
    </ul>

    <h3>4. Google Analyticsの利用</h3>
    <p>当店では、Google Analyticsを使用して、ウェブサイトの利用状況を分析しています。Google Analyticsは、クッキーを使用して訪問者の情報を収集します。これにより、当店のサービス向上を目的とした分析が可能になります。収集される情報には、訪問者のIPアドレスやページ閲覧履歴などが含まれますが、個人を特定できる情報として扱われることはありません。詳細については、<a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Googleのプライバシーポリシー</a>をご覧ください。</p>
    <p>ユーザーは、ブラウザの設定によりクッキーを無効にすることができますが、その場合、当サイトの一部機能が正常に動作しない可能性があります。</p>

    <h3>5. 個人情報の第三者提供</h3>
    <p>当店は、法令に基づく場合を除き、ユーザーの同意なしに個人情報を第三者に提供することはありません。</p>

    <h3>6. 個人情報の管理</h3>
    <p>当店は、個人情報の漏えいや改ざん、紛失等を防ぐため、適切な安全管理措置を講じます。</p>

    <h3>7. 個人情報の開示・訂正・削除</h3>
    <p>ユーザーは、自己の個人情報の開示、訂正、削除を求める権利があります。具体的な手続きについては、下記のお問い合わせ先までご連絡ください。</p>

    <h3>8. プライバシーポリシーの改定</h3>
    <p>当店は、本プライバシーポリシーを適宜見直し、改定することがあります。改定後は、当店のウェブサイト上でお知らせします。</p>

    <h3>9. お問い合わせ</h3>
    <p>本プライバシーポリシーに関するお問い合わせは、以下の連絡先までご連絡ください。</p>

    <p>
        <strong>[店舗名]</strong><br>
        <strong>[代表者名]</strong><br>
        <strong>[代表者の連絡先メールアドレス]</strong>
    </p>

</div>