// _mixins.scss
@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

//header用の背景
@mixin back-ground{
	background: linear-gradient(
      to bottom, 
      rgb(182,216,244), 
      rgb(217,237,251),      
      rgb(209,232,246),          
      //rgb(217,237,251),
      //rgb(186,221,245),
      //rgb(198,227,247),
      //rgb(194,221,248),      
    );
}

//ナビゲーションメニュー用の背景
@mixin back-ground-nav{
	background: linear-gradient(
      to right, 
      rgb(182,216,244), 
      rgb(217,237,251),      
      rgb(209,232,246),          
      //rgb(217,237,251),
      //rgb(186,221,245),
      //rgb(198,227,247),
      //rgb(194,221,248),      
    );
}
    
