// reservation.scss
@import 'variables';
@import 'mixins';

/* 予約入力画面用のスタイル */
.reservation-create-container {
    padding: 1em 10%;
    background-color: rgba(255, 255, 248, 0.6);
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
//PCでのレイアウト微調整
@media (min-width: $breakpoint-md) {
	.reservation-create-container {
	    padding: 15px 3%;	    
	    border-radius: 15px;
	    margin: 40px auto;
	}
}

//タイトルは中央に
.reservation-create-container h2 {
    text-align: center;
}

//ページタイトル直下の日本語文字
.reservation-regist-title:after {
content:"ご予約";
	font-size: 0.5em;
	background-color:rgba(251, 245, 234, 0.3);
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
}
.reservation-regist-title.repeat:after {
	content:"ご予約（2回目以降）";
}

/* フォーム領域 */
// 必須項目は＊を付与
.required-field:after{
	content: " *";
	color: red;
}

//各項目のまとまりの間を空ける
.reservation-create-container .section-group {
    padding-top: 0.5em;
}

//各項目の間を空ける
.reservation-create-container .form-group {
    margin-bottom: 1.2em;
}
//ラベルは下を少し空ける
.reservation-create-container .form-group label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}
//補足説明は太字解除
.reservation-create-container label.control-label-support {
    font-weight: normal;
}

//セクションの補足の位置調整
.reservation-create-container .section-title label.control-label-support {
    padding-bottom: 1em;
    display:block;
}


//入力欄は一度ブラウザのデフォルト設定をリセット
input, textarea, select {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
}
// textinputの基本デザイン
input{
    width: 100%;
    padding: 0.75em;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    font-size: 1em;
}

// セレクトボックスの基本デザイン
.select-wrapper {
    position: relative;
    width: 100%;
}
.select-wrapper select {
    width: 100%;
    padding: 0.75em;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    font-size: 1em;    
}
.select-wrapper::after {
    position: absolute;
	content: '▼';  /* または別の矢印文字 */
    font-size: 1em;
	color: $primary-btn-color;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 矢印がクリックを妨げないように */
}

// チェックボックスの基本デザイン
// ラベルとボックスのレイアウト調整用
.form-check {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
    //width: 100%;
}
// チェックボックス自体のデザイン
.form-check-input {
    margin: 0;
    padding: 0;
    position: relative;
    border: 2px solid rgba(100,100,100,1);
    width: 25px;
    height: 25px;
    //border-radius: 4px;
    //cursor: pointer;
    
    // チェックマークを疑似要素で作成
    &:checked::after {
        content: "✔";
        position: absolute;        
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $primary-btn-color;;
        font-size: 1.2em;
    }
    // チェック時は枠線色を変更
    &:checked {
        //background-color: #2196F3;
        border-color: #2196F3;
    }
}
// チェックボックス横のラベルの位置微調整
.checkbox-group .form-check .form-check-label,
.form-group .form-check .form-check-label {
    margin: 0 0 0.2em 0;
    cursor: pointer;
    font-weight: normal;
}

// テキストボックスの基本デザイン
textarea {
	width: 100%;
    padding: 0.75em;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    font-size: 1em;
	height: 6em;
}


.text-danger {
    grid-column: 1 / -1;
    margin-top: 4px;
}


//バリデーションメッセージ
.reservation-create-container .form-group .text-danger {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25em;
    display: block;
}
//上部のバリデーションも色を設定
.alert {
	color: #dc3545;
}

//確認ボタン
.reservation-create-container .btn-primary {
    @include calm-brown-btn;
	font-size: 1.2em;
	font-family: $font-JP-serif;
	width: 180px;
	display: block;
    margin: 2em auto;
}
//確認ボタン　ホバー時は少し暗く
.reservation-create-container .btn-primary:hover {
	@include calm-brown-btn-hover;
}
//戻るボタンの配置用
.btn-container {
	text-align:center;
}
//戻るボタン
.reservation-create-container .btn-secondary {
    @include return-btn;
    font-size: 1.2em;
	font-family: $font-JP-serif;
	width: 180px;
	display: block;
    margin: 2em auto;
}
//戻るボタン　ホバー時は少し暗く
.reservation-create-container .btn-secondary:hover {
    @include return-btn-hover;
}




/* 予約完了画面 */
.reservation-create-complete-container{
    padding: 1em 10% 4em 10%;
    background-color: rgba(255, 255, 248, 0.6);
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

//タイトルは中央に
.reservation-create-complete-container h2 {
    text-align: center;
}

//ページタイトル直下の日本語文字
.reservation-regist-complete-title:after {
content:"ご予約完了";
	font-size: 0.5em;
	background-color:rgba(251, 245, 234, 0.3);
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
}
.reservation-regist-complete-title.repeat:after {
	content:"ご予約完了（2回目以降）";
}

// ご予約完了のメッセージ
.reservation-complete-message{
	padding-bottom:3em;
}
.returnArea{
	text-align: center;
}

//ボタン自体の装飾
.btn {
	@include calm-brown-btn;	
}
//ホバー時
.btn:hover {
    @include calm-brown-btn-hover;
}

//PCでのレイアウト微調整
@media (min-width: $breakpoint-md) {
	.reservation-create-complete-container{
	    padding: 1em 3% 4em 3%;
	    border-radius: 15px;
	    margin: 40px auto;
	}
}