<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - THERAPIM</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    @RenderSection("CustomStyles", required:false)
</head>
<body>
    <header>
        <div class="header-row title-row">
            <h1><a asp-area="" asp-controller="Home" asp-action="Index">Therapim</a></h1>
            <div class="header-spacer"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-menu">
                    <span class="user-icon">&#x1F34A;</span>
                    <div class="user-menu-dropdown">
                        <!--<a href="#">予約一覧</a>-->
                        <a asp-area="" asp-controller="Login" asp-action="XtLogout">ログアウト</a>
                    </div>
                </div>
            }
            <div class="hamburger-menu">
                <div class="hamburger"></div>
            </div>
        </div>
        <div class="header-row nav-row">
            <nav>
                <ul class="nav-links">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">ホーム</a></li>
                    <li><a asp-area="" asp-controller="Course" asp-action="List">コース</a></li>
                    <li><a asp-area="" asp-controller="Review" asp-action="List">お客様の声</a></li>                                                            
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Login" asp-action="Index">ログイン</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Login" asp-action="XtLogout">ログアウト</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    
    <main role="main">
        @RenderBody()
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Therapim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("CustomScripts", required: false)
</body>
</html>
