@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
@if (Model != null && !string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">
        @Model.Message
    </div>
}
else
{
    <div class="alert alert-danger">
        An unexpected error occurred.
    </div>
}